NODE_ENV=development
PORT=3002
DATABASE_URL=postgresql://portfolio_user:portfolio_password@portfolio-db:5432/portfolio_db
AUTH_SERVICE_URL=http://auth-service-dev:3001
MARKET_SERVICE_URL=http://market-service-dev:3003